<main class="main-wrapper">

  <div class="container">
    <div class="card tableStates">
      <h1>Status Brasil por UF</h1>

      <div class="table">
        <p-table [value]="states" [scrollable]="true" scrollHeight="620px"
          [tableStyle]="{ 'min-width': '50rem', 'padding': '1rem'}">
          <ng-template pTemplate="header">
            <tr>
              <th>Estado</th>
              <th>Confirmados </th>
              <th>Mortes</th>
              <th>Suspeitos</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-state>
            <tr>
              <td>{{ state.state }}</td> <!-- Exibe o nome do estado -->
              <td>{{ state.cases }}</td> <!-- Exibe o número de casos confirmados -->
              <td>{{ state.deaths }}</td> <!-- Exibe o número de mortes -->
              <td>{{ state.suspects }}</td> <!-- Exibe o número de casos suspeitos -->
            </tr>
          </ng-template>
        </p-table>

      </div>


    </div>

    <div class="moreInfo">
      <div class="card infoBrazil">
        <h1>Dados Brasil</h1>

        <div class="chartContainer">
          <div class="chart">
            <p-chart class="chartContent" type="pie" [data]="dataChart" [options]="chartOptions"
              [style]="{'width': '10% !important'}"></p-chart>
          </div>

          <h4>Fonte: WHO</h4>
        </div>

      </div>

      <div class="card StateUser">

      </div>

      <div class="card StateChose">

      </div>

      <div class="card topCountrys">

      </div>
    </div>
  </div>

</main>