.main-wrapper {
  width: 100vw;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    height: 90%;
    width: 100%;
    padding: 3rem;

    .card {
      background-color: var(--card-color);
      border-radius: 20px;
      border: 1.3px solid var(--card-color);
      transition: border 0.3s ease-in-out;

      &:hover {
        border: 1.3px solid var(--link-color);
      }
    }

    .tableStates {
      width: 50%;
      height: 100%;

      h1 {
        color: #fff;
        padding: 1.2rem;
      }

      .table {
        padding: 1.2rem;

        p-table {
          ::ng-deep thead tr {
            color: #fff;
            background-color: transparent;
            padding: 2rem 0 !important;
          }

          :host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
            padding: 10px; /* Adiciona padding às células */
            background-color: #fff; /* Muda o background das células, se desejado */
          }
        }
      }
    }

    .moreInfo {
      width: 50%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1rem;

      .infoBrazil {
        position: relative;
        h1 {
          background-color: transparent;
          color: #fff;
          padding: 1.2rem;
        }

        .chartContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;

          .chart {
            width: 55%;
          }

          h4 {
            color: #fff;
          }
        }
      }
    }
  }
}
